.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared style */
.display-flex {
  display: flex;
}
/* dark-01 */
.text-dark {
  color: #131313;
}
/* dark-02 */
.text-dark-gray {
  color: #424242;
}
/* dark-03 */
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  color: white;
  background-color: #FF900E;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
}
/* header style  */

/* navbar related styles */
.navbar{
  justify-content: space-between;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.nav-links{
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: #424242;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-image{
  width: 100%;
  margin: 50px auto;
}
/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar, .nav-links{
    flex-direction: column;
  }
}